@import "tailwindcss" important;
@plugin "@toolwind/corner-shape";

@theme {

  --color-accent-primary: hsl(218, 47%, 47%);
  --color-primary: var(--primary);

  --font-roboto:"Roboto", Arial, sans-serif;

  --animate-move-to-left: move-to-left 35s infinite linear;
  --animate-move-to-right: move-to-right 35s infinite linear;
  --animate-move-to-top: move-to-top 30s infinite linear;
}


  @keyframes move-to-top {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  @keyframes move-to-left {
    from {
      translate: 0;
    }

    to {
      translate: -100%;
    }
  }

  @keyframes move-to-right {
    from {
      translate: 0;
    }

    to {
      translate: 100%;
    }
  }

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Pause animations on container hover */
.animation-stop:active  {
  animation-play-state: paused !important; /* !important to override any inline styles if needed */
}


/* Pause animations on container hover */
.animation-stop:hover ,
.animation-stop:hover {
  animation-play-state: paused !important; /* !important to override any inline styles if needed */
}

/* Optional: Also pause on focus for better accessibility (keyboard navigation) */
.animation-stop:focus-within ,
.animation-stop:focus-within {
  animation-play-state: paused !important;
}

.animate-pause-hover-sib:hover ~ .animate-pause-hover-sib{
  animation-play-state: paused ;
}

.animate-pause-hover-parent:hover *{
  animation-play-state: paused ;
}


.animate-pause-hover:hover{
  animation-play-state: paused ;
}

.mask-bg-3{
  mask-image: linear-gradient(to right,transparent, #000 3% 97%, transparent);
}

.mask-bg-3-vertical{
  /* mask-image: linear-gradient(to bottom,transparent, #000 3% 97%, transparent); */
 mask-image: linear-gradient(to bottom,transparent, #000 3% 97%, transparent);
}


.squircle-full {
  border-radius: 9999px;
  @supports(corner-shape:squircle)
  {
    border-radius: calc(infinity * 1px);
    corner-shape: squircle;
  }
}



.bg-grid {
    background-color: #f9fafb;
    background-image: linear-gradient(to right, #29333d14 1px, #00000000 1px), linear-gradient(to bottom, var(--color-slate-100) 1px, transparent 1px);
    background-size: 50px 50px;
    transition: background-color 0.4s ease;
    position: relative;
}

.bg-grid::before{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse at center, transparent 0%, transparent 60%, #f9fafb 100%);
    pointer-events: none;
    z-index: 0;
}
