---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import FAQ from "@components/FAQ.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { getImage } from "astro:assets";
const optimizedImage = await getImage({src: landingImage, format: 'avif'})
---

<BaseLayout
  title="About"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="About Us"
    image={optimizedImage}
  />

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->

  <section id="sbs">
    <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-left">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/cabinets2-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/cabinets2.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/cabinets2.jpg"
            alt="cabinets"
            loading="lazy"
            width="400"
            height="563"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/construction-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/construction.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/construction.jpg"
            alt="house"
            loading="lazy"
            width="400"
            height="563"
          />
        </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-right">
        <span class="cs-topper">About Us</span>
        <h2 class="cs-title">About Merit Embroidery</h2>
        <p class="cs-text">
          Merit Embroidery is one of the largest wholesale embroidery houses in 
          Western Canada. We have been in the business of apparel decorating for 
          over 20 years serving customers in the local Alberta market as well as 
          all across North America.
        </p>
        <p class="cs-text">
          Our extensive experience in the garment decorating field along with our 
          state of the art machinery allows us to be one of the best in the west. 
          Our 4,600 square feet production facility and warehouse caters to all our 
          small or high volume clients, delivering between 1,000 and 2,000 decorated 
          goods daily!
        </p>
        <a href="/projects" class="cs-button-solid">Our Projects</a>
      </div>
    </div>
  </section>

<!-- ============================================ -->
<!--                  Foundation                   -->
<!-- ============================================ -->
<section id="foundation">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We Believe In, and Why It Matters</span>
            <h2 class="cs-title">Our Foundation</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMiA5YTMgMyAwIDAgMSAzIDNhMyAzIDAgMCAxLTMgM2EzIDMgMCAwIDEtMy0zYTMgMyAwIDAgMSAzLTNtMC00LjVjNSAwIDkuMjcgMy4xMSAxMSA3LjVjLTEuNzMgNC4zOS02IDcuNS0xMSA3LjVTMi43MyAxNi4zOSAxIDEyYzEuNzMtNC4zOSA2LTcuNSAxMS03LjVNMy4xOCAxMmE5LjgyMSA5LjgyMSAwIDAgMCAxNy42NCAwYTkuODIxIDkuODIxIDAgMCAwLTE3LjY0IDAiLz48L3N2Zz4="
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Our Vision</h3>
                    <p class="cs-item-text">
                      Merit Embroidery strives to be a stitch above the 
                      competition by producing high quality apparel decorating, 
                      providing excellent customer service and completing projects 
                      in a timely manner. We love to take on challenging jobs and 
                      always find ways to complete a project no matter how tricky 
                      or tough it looks.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/brake-red.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Our Mission</h3>
                    <p class="cs-item-text">
                      Merit Embroidery is a family owned and operated independent 
                      commercial garment finishing business with the goal of providing 
                      100% customer satisfaction to our valued clients. Our mission is 
                      to produce top quality digitizing and above average garment 
                      decorating and to ensure that your project due dates are met 
                      consistently.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/air-conditioner-red.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Our Promise</h3>
                    <p class="cs-item-text">
                      Merit embroidery promises to run our business with utmost honesty 
                      and integrity. We will provide the same level of quality and service 
                      to all our valued clients regardless of the size of their order or 
                      account. Our in-house digitizing department and production staff will 
                      ensure that every item that leaves our production facility meets the 
                      highest standards of garment decorating.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/motor%201%20red.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Our Value</h3>
                    <p class="cs-item-text">
                      Merit Embroidery digitizing department has over 25 years of combined 
                      experience in setting up any types of complex and intricate designs. 
                      Our production staff with over 35 years of combined stitching experience 
                      is fully capable of handling all types of stretchy, velour, lightweight 
                      or heavy garments to ensure that your decorating requirements are met. 
                      We stock over 125 shades of Isacord polyester thread to facilitate pantone 
                      matching. We have over 100 stock fonts for text and numbers.
                      <br>
                      Artwork can be sent to us in any format, ranging from vector files to hand 
                      drawn logos. With the state of the art Japanese Barudan brand industrial 
                      embroidery machines that allow us to embroider logos in up to 15 different 
                      thread colours, you can rest assured that when we stitch your logo, it will 
                      look like a work of art.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
  <FAQ />
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: (40/16rem);
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        border-radius: (24/16em);
        display: block;
        position: absolute;
        /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          /* makes image act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
        top: 0;
        left: 0;
      }

      .cs-picture2 {
        width: (414/16em);
        height: (400/16em);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        right: 0;
        bottom: 0;
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: left;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);
        color: var(--bodyTextColor);

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-flex-group {
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: (16/16rem);
        position: relative;
      }

      .cs-flex-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: #353535;
      }

      .cs-name {
        font-size: (16/16rem);
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #353535;
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
        bottom: (0/16rem);
      }

      .cs-button-solid {
        margin-top: (32/16rem);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #sbs {
        .cs-left {
          &:before,
          &:after {
            background: var(--accent);
          }
        }

        .cs-picture2 {
          background-color: var(--dark);
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-flex-p,
        .cs-name {
          color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
          background-color: var(--accent);
        }

        .cs-job {
          color: var(--bodyTextColorWhite);
          opacity: 0.8;
        }

        .cs-quote-icon {
          opacity: 0.2;
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #foundation {
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (1280/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-card-group {
            /* changes to 1280px at desktop */
            max-width: (900/16rem);
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            max-width: (368/16rem);
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            padding: (16/16rem);
            border: 1px solid #e8e8e8;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }

        .cs-picture {
            width: (80/16rem);
            height: (80/16rem);
            margin-bottom: (20/16rem);
            box-sizing: border-box;
            /* prevents border from affecting height and width */
            background-color: #f7f7f7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (30/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            text-align: center;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: center;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            color: #fff;
            background-color: var(--primary);
            text-decoration: none;
            display: inline-block;
            position: relative;
            z-index: 1;
            text-align: center;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #foundation {
        .cs-card-group {
            grid-template-columns: repeat(2, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            margin: 0;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #foundation {
        .cs-card-group {
            max-width: (1280/16rem);
        }

        .cs-item {
            max-width: none;
            padding: (32/16rem) (24/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #foundation {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-item {
                background-color: var(--medium);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-picture {
                background-color: var(--accent);
            }

            .cs-icon {
                /* turns it white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

                                
</style>
