---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;

const { class: className, ...props } = Astro.props;

import ctaImg from "@assets/images/CTA/merit-cta.png";
import { Image } from "astro:assets";
---

<section
  id="cta"
  class:list={[
    "relative min-h-[320px] overflow-hidden md:aspect-[2545/976] md:min-h-0",
    className,
  ]}
  {...props}
>
  <div
    class="relative z-10 flex h-full flex-col items-center px-5 pt-6 text-center sm:items-end sm:text-right md:px-4 md:pt-4 lg:px-4 lg:pt-4"
  >
    <div
      class="mask-bg-both absolute top-1/2 left-1/2 -z-1 h-80 w-80 -translate-1/2 bg-black/15 backdrop-blur-sm sm:hidden"
    >
    </div>
    <h2
      class="max-w-[17ch] text-[clamp(2rem,3.35vw,4.25rem)] leading-[1.42] font-semibold tracking-[0.08em] text-balance text-white sm:line-clamp-2 sm:max-w-full"
    >
      Need Custom Apparel or
      <br />
      Promo Gear Decorated?
    </h2>
    <p
      class="text-accent-dark mt-1 text-[clamp(1.25rem,2.15vw,2rem)] leading-[1.35] font-medium tracking-wide italic"
    >
      Let&rsquo;s make it happen!
      <br />
      Fast, Reliable, and
      <br />
      Done Right.
    </p>
  </div>

  <Image
    src={ctaImg}
    alt=""
    class="absolute inset-0 z-0 size-full object-cover object-left-top"
  />
</section>
