<section id="faq-351" class="bg-accent-light px-0">
  <!-- py-24 pr-2 pl-8 md:px-8 md:py-16 -->
  <div class="cs-container bg-accent-dark ml-0 rounded-r-full py-8 pl-8">
    <div class="cs-content items-start text-left">
      <span
        class="cs-topper text-topper text-left font-semibold tracking-wider"
      >
        Frequently Asked Questions
      </span>
      <h2 class="cs-title text-body-light text-left text-6xl font-semibold">
        You have Questions? <br /> We have Answers!
      </h2>
    </div>
    <ul class="cs-faq-group">
      <!-- Active class added as default -->
      <li class="cs-faq-item active">
        <button class="cs-button">
          <span class="cs-button-text"> What products can you customize? </span>
        </button>
        <p class="cs-item-p">
          We customize apparel such as t-shirts, hoodies, jackets, hats, bags,
          and uniforms, as well as promotional items. Have something specific?
          Email <a href="mailto:info@meritembroidery.com"
            >info@meritembroidery.com</a
          >
          or call (780) 414-6109.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> How do I get a quote? </span>
        </button>
        <p class="cs-item-p">
          You can email, call, or use our Get a Quote form. We will review your
          request and send a personalized quote.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> What file formats do you accept? </span>
        </button>
        <p class="cs-item-p">
          We accept PNG, JPEG, PDF, AI, and EPS files. Need help? Contact us and
          we’ll assist you.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text">
            How long does it take to complete an order?
          </span>
        </button>
        <p class="cs-item-p">
          Turnaround time depends on the size and complexity of the order. Small
          orders typically take [X] days, and larger orders may take [X–X]
          weeks. Rush orders may be possible — just reach out.
        </p>
      </li>
      <li class="cs-faq-item">
        <button class="cs-button">
          <span class="cs-button-text"> Can I request a proof? </span>
        </button>
        <p class="cs-item-p">
          Yes! Digital proofs are provided for review before production.
          Adjustments can be made as needed.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- Instead of loading a <script>  tag in BaseLayout, we use a scoped style in this component -->
<!-- Astro will process this script automatically. -->
<!-- The processed script will be injected into your page’s <head> with type="module" -->
<!-- As a consequence, there is no need to use the defer attribute when loading a module script because modules are deferred automatically. -->

<script>
  // Astro:page-load wrapper for View Transitions purposes
  document.addEventListener("astro:page-load", () => {
    // Makes the script available after navigating to a new page.
    const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
    for (const item of faqItems) {
      const onClick = () => {
        item.classList.toggle("active");
      };
      item.addEventListener("click", onClick);
    }
  });
</script>

<style lang="less">
  /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #faq-351 {
      padding: var(--sectionPadding);
      // background: #f7f7f7;
    }
    #faq-351 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      row-gap: clamp(3rem, 6vw, 4rem);
    }
    #faq-351 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #faq-351 .cs-title {
      margin: 0;
    }
    #faq-351 .cs-faq-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #faq-351 .cs-faq-item {
      list-style: none;
      width: 100%;
      border-bottom: 1px solid #e8e8e8;
      transition: border-bottom 0.3s;
    }
    #faq-351 .cs-faq-item.active {
      border-color: var(--primary);
    }
    #faq-351 .cs-faq-item.active .cs-button {
      background-color: var(--color-primary);
    }
    #faq-351 .cs-faq-item.active .cs-button:before {
      background-color: var(--color-red-50);
      transform: rotate(315deg);
    }
    #faq-351 .cs-faq-item.active .cs-button:after {
      background-color: var(--color-red-50);
      transform: rotate(-315deg);
    }
    #faq-351 .cs-faq-item.active .cs-item-p {
      height: auto;
      /* 20px - 24px bottom */
      /* 16px - 24px left & right */
      padding: clamp(1.25rem, 1.3vw, 1.5rem) clamp(1rem, 2vw, 1.5rem);
      opacity: 1;
      color: var(--color-body-light);
    }
    #faq-351 .cs-button {
      font-size: 1.5rem;
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      /* 16px - 20px */
      padding: clamp(1rem, 1.3vw, 1.25rem);
      border: none;
      background: transparent;
      color: var(--color-body-light);
      display: block;
      width: 100%;
      position: relative;
      transition:
        background-color 0.3s,
        color 0.3s;
    }
    #faq-351 .cs-button:hover {
      cursor: pointer;
    }
    #faq-351 .cs-button:before {
      /* left line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--color-body-light);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 1.5rem;
      transform: rotate(45deg);
      /* animate the transform from the left side of the x axis, and the center of the y */
      transform-origin: left center;
      transition: transform 0.5s;
    }
    #faq-351 .cs-button:after {
      /* right line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--color-body-light);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 1.3125rem;
      transform: rotate(-45deg);
      /* animate the transform from the right side of the x axis, and the center of the y */
      transform-origin: right center;
      transition: transform 0.5s;
    }
    #faq-351 .cs-button-text {
      width: 80%;
      display: block;
    }
    #faq-351 .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 90%;
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 clamp(1rem, 2vw, 1.5rem);
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      transition:
        opacity 0.3s,
        padding-bottom 0.3s;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #faq-351 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      /* push everything to the top */
      align-items: flex-start;
      flex-wrap: wrap;
    }
    #faq-351 .cs-content {
      width: 100%;
    }
    #faq-351 .cs-faq-group {
      width: 48%;
    }
  }
  // .cs-button:active .cs-button-text {
  //     color: var(--primary);
  //   }
</style>
