---
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"section">;

const { class: className, ...props } = Astro.props;

const images = [
  "/assets/images/portfolio/port1.jpg",
  "/assets/images/portfolio/port4.jpg",
  "/assets/images/portfolio/port7.jpg",
  "/assets/images/portfolio/port2.jpg",
  "/assets/images/portfolio/port5.jpg",
  "/assets/images/portfolio/port8.jpg",
  "/assets/images/portfolio/port3.jpg",
  "/assets/images/portfolio/port6.jpg",
  "/assets/images/portfolio/port9.jpg",
];
---

<section id="gallery" class:list={[className]} {...props}>
  <div class="cs-container">
    <h2 class="cs-topper">Showcasing Our Finest Creations</h2>
    <h2 class="cs-title" style="margin-bottom: 4rem;">Some of Our Works</h2>
    <!-- <div class="max-h-150 overflow-auto"> -->
    <div class="">
      <div class="columns-[400px]">
        {
          images.map((src, i) => (
            <img
              aria-hidden="true"
              decoding="async"
              src={src}
              alt="sample img"
              loading="lazy"
              class="mb-4 w-full object-cover"
              class:list={[
                i % 3 === 0
                  ? "md:h-[400px]"
                  : i % 2 === 0
                    ? "md:h-[300px]"
                    : "md:h-[200px]",
              ]}
            />
          ))
        }
      </div>
    </div>
    <!-- <a href="/portfolio" class="cs-button-solid">Discover More</a> -->
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px - Contains hover animation */
  @media only screen and (min-width: 0em) {
    #gallery {
      /* Centers button */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
      .cs-container {
        width: 100%;
        max-width: (1322/16em);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (621/16rem);
        margin-bottom: (40/16rem);
      }

      .cs-image-group {
        /* used rem so it doesn't scale with the font size of on parent */
        font-size: ~"min(1.1vw, 1em)";
        width: 100%;
        max-width: (1322/16em);
        margin: 0 auto (60/16rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: (30/16em);
      }

      .cs-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: (30/16em);
      }

      .cs-picture {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-row-1 {
        .cs-picture1 {
          width: (420/16em);
          height: (567/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (629/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (512/16em);
        }
      }

      .cs-row-2 {
        .cs-picture1 {
          width: (420/16em);
          height: (492/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (517/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }

      .cs-row-3 {
        .cs-picture1 {
          width: (420/16em);
          height: (625/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (452/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }
    }
  }

  // /* Dark mode */
  // @media only screen and (min-width: 0em) {
  //   body.dark-mode {
  //     #gallery {
  //       .cs-title {
  //         color: var(--bodyTextColorWhite);
  //       }
  //     }
  //   }
  // }
</style>
