---
import { type HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
import gallery1 from "@assets/images/gallery/1.jpg";
import gallery2 from "@assets/images/gallery/2.jpg";
import gallery3 from "@assets/images/gallery/3.jpg";
import gallery4 from "@assets/images/gallery/4.jpg";
import gallery5 from "@assets/images/gallery/5.jpg";
import gallery6 from "@assets/images/gallery/6.jpg";
import gallery7 from "@assets/images/gallery/7.jpg";
import gallery8 from "@assets/images/gallery/8.jpg";
import gallery9 from "@assets/images/gallery/9.jpg";
import gallery10 from "@assets/images/gallery/10.jpg";
import gallery11 from "@assets/images/gallery/11.jpg";
import gallery12 from "@assets/images/gallery/12.jpg";
import gallery13 from "@assets/images/gallery/13.jpg";
import gallery14 from "@assets/images/gallery/14.jpg";
import gallery15 from "@assets/images/gallery/15.jpg";
import gallery16 from "@assets/images/gallery/16.jpg";
import gallery17 from "@assets/images/gallery/17.jpg";
import gallery18 from "@assets/images/gallery/18.jpg";
import gallery19 from "@assets/images/gallery/19.jpg";
import gallery20 from "@assets/images/gallery/20.jpg";
import gallery21 from "@assets/images/gallery/21.jpg";
import gallery22 from "@assets/images/gallery/22.jpg";
import gallery23 from "@assets/images/gallery/23.jpg";
import gallery24 from "@assets/images/gallery/24.jpg";

type Props = HTMLAttributes<"section">;

const { class: className, ...props } = Astro.props;

const images: ImageMetadata[] = [
  gallery1,
  gallery2,
  gallery3,
  gallery4,
  gallery5,
  gallery6,
  gallery7,
  gallery8,
  gallery9,
  gallery10,
  gallery11,
  gallery12,
  gallery13,
  gallery14,
  gallery15,
  gallery16,
  gallery17,
  gallery18,
  gallery19,
  gallery20,
  gallery21,
  gallery22,
  gallery23,
  gallery24,
];
---

<section id="gallery" class:list={[className]} {...props}>
  <div class="cs-container">
    <h2 class="cs-topper">Showcasing Our Finest Creations</h2>
    <h2 class="cs-title" style="margin-bottom: 4rem;">Some of Our Works</h2>
    <!-- <div class="max-h-150 overflow-auto"> -->
    <div class="">
      <div class="columns-[400px]">
        {
          images.map((src, i) => (
            <Image
              aria-hidden="true"
              src={src}
              alt={`embroidery product ${i + 1}`}
              class="mb-4"
            />
          ))
        }
      </div>
    </div>
    <!-- <a href="/portfolio" class="cs-button-solid">Discover More</a> -->
  </div>
</section>

<style lang="less">
  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px - Contains hover animation */
  @media only screen and (min-width: 0em) {
    #gallery {
      /* Centers button */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
      .cs-container {
        width: 100%;
        max-width: (1322/16em);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (621/16rem);
        margin-bottom: (40/16rem);
      }

      .cs-image-group {
        /* used rem so it doesn't scale with the font size of on parent */
        font-size: ~"min(1.1vw, 1em)";
        width: 100%;
        max-width: (1322/16em);
        margin: 0 auto (60/16rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: (30/16em);
      }

      .cs-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: (30/16em);
      }

      .cs-picture {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-row-1 {
        .cs-picture1 {
          width: (420/16em);
          height: (567/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (629/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (512/16em);
        }
      }

      .cs-row-2 {
        .cs-picture1 {
          width: (420/16em);
          height: (492/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (517/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }

      .cs-row-3 {
        .cs-picture1 {
          width: (420/16em);
          height: (625/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (452/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }
    }
  }

  // /* Dark mode */
  // @media only screen and (min-width: 0em) {
  //   body.dark-mode {
  //     #gallery {
  //       .cs-title {
  //         color: var(--bodyTextColorWhite);
  //       }
  //     }
  //   }
  // }
</style>
