---
import cn from "@utils/cn";
import { type HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> & {
  title: string;
};

const { title, class: className, ...rest } = Astro.props;
---

<div
  class:list={cn([
    "mx-auto mb-16 flex w-fit max-w-full justify-center md:mb-24",
    className,
  ])}
  {...rest}
>
  <div class="inline-flex flex-col items-center">
    <h1 class="text-header-xl text-accent-primary font-acumin font-bold tracking-wide">
      {title}
    </h1>
    <div class="bg-primary mt-3 h-1 w-full"></div>
  </div>
</div>
